body {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: black;
  color: white;
  font: bold 4em "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#timeline #timeline-list {
  position: relative;
  list-style: none;
  margin: 4em auto;
}
#timeline #timeline-list:before {
  content: "";
  background-color: black;
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
}
#timeline .timeline-list-item {
  margin-left: 52%;
  max-width: 26em;
}
#timeline .timeline-list-item .timeline-item {
  margin-bottom: 4em;
}
#timeline .timeline-list-item .timeline-item time {
  background-color: black;
  color: white;
  font-size: 1em;
  padding: 0.3em 0.5em;
}
#timeline .timeline-list-item .timeline-item time:before {
  content: "";
  background-color: black;
  position: absolute;
  left: calc(50vw - 1em);
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
  outline: 10px solid white;
}
#timeline .timeline-list-item .timeline-item .timeline-item-title {
  font-size: 1.6em;
}
#timeline .timeline-list-item .timeline-item .timeline-item-text {
  font-size: 1.1em;
}
#timeline .timeline-list-item:nth-child(even) {
  margin: auto;
  margin-right: 54%;
}