//      Colors      //
$color-1: black;
$color-2: white;
$color-3: #ef795a;
$color-4: #A83279;

//      Sizes        //
$header-height: 300px;
$icon-size: 1em;

//      Fonts       //
$header-font-size: 4em;
$time-font-size: 1em;
$title-font-size: 1.6em;
$text-font-size: 1.1em;
$font-type: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;