@use 'variables' as *;

@mixin hideShowAndTransition {
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s;
}

//      Animations      //

@keyframes rotate {
    from { transform: rotate(45deg); }
    to { transform: rotate(135deg); }
}

@keyframes rotateBackwards {
    from { transform: rotate(135deg); }
    to { transform: rotate(45deg); }
}


@keyframes changeColor1 {
    from { box-shadow: inset 0px 0 0 0 $color-3; }
    to { box-shadow: inset 1000px 0 0 0 $color-3; }
}

@keyframes changeColor2 {
    from { box-shadow: inset 1000px 0 0 0 $color-3; }
    to { box-shadow: inset 1000px 0 0 0 $color-4; }
}


@keyframes changeColorBackward1 {
    from { box-shadow: inset 1000px 0 0 0 $color-4; }
    to { box-shadow: inset 1000px 0 0 0 $color-3; }
}

@keyframes changeColorBackward2 {
    from { box-shadow: inset 1000px 0 0 0 $color-3; }
    to { box-shadow: inset 0px 0 0 0 $color-3; }
}

//      End     //



body {
    margin: 0;
    padding: 0;

    font-family: $font-type;

    #header {
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: $header-height;
        background-color: $color-1;
    
        color: $color-2;
        font-size: $header-font-size;
        font-weight: bold;
    }
    
    #timeline {
        #timeline-list {
            position: relative;
    
            list-style: none;
            margin: 4em auto;
    
            //  Vertical line
            &:before {
                content: '';
                background-color: $color-1;
                position: absolute;
                left: 50%;
                width: 2px;
                height: 100%;
            }
             
        }
    
        .timeline-list-item {
            margin-left: 52%;
            max-width: 26em;
    
            //  Left items of the timeline
            &:nth-child(even) {
                margin: auto;
                margin-right: 54%;
            }
        
            .timeline-item {
                margin-bottom: 4em;
                
                time {
                    background-color: $color-1;
                    color: $color-2;
                    font-size: $time-font-size;
                    padding: 0.3em 0.5em;
                    transition: all 0.8s;
                    
                    //  Timeline icon
                    &:before {
                        content: '';
                        background-color: $color-1;
                        position: absolute;
                        left: calc(50vw - 1em); // this line "center" the icons with the vertical line
                        width: $icon-size;
                        height: $icon-size;
                        transform: rotate(45deg);
                        outline: 10px solid $color-2;
                    }
                }
                            
                .timeline-item-title {
                    font-size: $title-font-size;
                    @include hideShowAndTransition;
                }
                
                .timeline-item-text {
                    font-size: $text-font-size;
                    @include hideShowAndTransition;
                }
            }
    
            //      Animations      //
    
            time:before {
                animation: rotateBackwards 0.4s;
            }
    
            time {
                animation: changeColorBackward1 2s ease,
                           changeColorBackward2 0.3s 0.4s ease forwards;
            }
    
            &:hover {
                time:before {
                    animation: rotate 0.4s;
                    background-color: $color-4;
                }
                
                time {
                    animation: changeColor1 2s ease,
                               changeColor2 0.3s 0.2s ease forwards;
                }
            } 
    
            //      End     //
        }
    }
}